services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage:Z
    networks:
      - bot_network
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - bot_network
    env_file:
      - .env
  adminer:
    image: adminer
    restart: always
    depends_on:
      - postgres
    ports:
      - 8282:8080
    networks:
      - bot_network


volumes:
  qdrant_data:
  postgres_data:

networks:
  bot_network:
